<div class="new-arrivals">
	<div class="container-index">
		<div class="new-arrivals__item-top">
			<h1 class ="new-arrivals__item-top__title">Новые поступления</h1>
			<form action="" class="new-arrivals__item-top__buttons">
				<button class = "new-arrivals__item-top__buttons__button_left">
					{% include "../../assets/svg/arrow2.svg" %}
				</button>
				<button class = "new-arrivals__item-top__buttons__button_right">
					{% include "../../assets/svg/arrow1.svg" %}
				</button>
			</form>
		</div>	
		<ul class="new-arrivals__item-list">
			
			<figure class="new-arrivals__item-list__book">
				<img src="img/book.png" alt="" class="new-arrivals__item-list__book__picture">
				<div class="new-arrivals__item-list__book__feature">
				<a href="#" class="new-arrivals__item-list__book__feature__best">
					Бестселлер
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__stock">
					1+1=3
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__new">
					Новинка
				</a>
				</div>
				<figcaption class ="new-arrivals__item-list__book__subscription">
					<p class ="new-arrivals__item-list__book__subscription__tag">
					Корпоративное право
					</p>
					<p class ="new-arrivals__item-list__book__subscription__name">
					Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="new-arrivals__item-list__book__subscription__author">
					Майфат А.В.
					</p>
					<p class ="new-arrivals__item-list__book__subscription__price">
					4 450 ₽
					</p>
					<div class="new-arrivals__item-list__book__subscription__faeture">
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__appraisal">
					{% include "../../assets/svg/star.svg" %}
					4.9
					</a>
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__recommendation">
					{% include "../../assets/svg/like.svg" %}
						89% рекомендуют
					</a>
					</div>
				</figcaption>
				<form action="" class="new-arrivals__item-list__book__buy">
					<button class ="new-arrivals__item-list__book__buy__to-basket">{% include "../../assets/svg/basket-orange.svg" %}В корзину</button>
					<button class ="new-arrivals__item-list__book__buy__favorites">{% include "../../assets/svg/bookmark.svg" %}</button>
				</form>
			</figure>
			<figure class="new-arrivals__item-list__book">
				<img src="img/book.png" alt="" class="new-arrivals__item-list__book__picture">
				<div class="new-arrivals__item-list__book__feature">
				<a href="#" class="new-arrivals__item-list__book__feature__best">
					Бестселлер
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__stock">
					1+1=3
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__new">
					Новинка
				</a>
				</div>
				<figcaption class ="new-arrivals__item-list__book__subscription">
					<p class ="new-arrivals__item-list__book__subscription__tag">
					Корпоративное право
					</p>
					<p class ="new-arrivals__item-list__book__subscription__name">
					Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="new-arrivals__item-list__book__subscription__author">
					Майфат А.В.
					</p>
					<p class ="new-arrivals__item-list__book__subscription__price">
					4 450 ₽
					</p>
					<div class="new-arrivals__item-list__book__subscription__faeture">
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__appraisal">
					{% include "../../assets/svg/star.svg" %}
					4.9
					</a>
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__recommendation">
					{% include "../../assets/svg/like.svg" %}
						89% рекомендуют
					</a>
					</div>
				</figcaption>
				<form action="" class="new-arrivals__item-list__book__buy">
					<button class ="new-arrivals__item-list__book__buy__to-basket">{% include "../../assets/svg/basket-orange.svg" %}В корзину</button>
					<button class ="new-arrivals__item-list__book__buy__favorites">{% include "../../assets/svg/bookmark.svg" %}</button>
				</form>
			</figure>
			<figure class="new-arrivals__item-list__book">
				<img src="img/book.png" alt="" class="new-arrivals__item-list__book__picture">
				<div class="new-arrivals__item-list__book__feature">
				<a href="#" class="new-arrivals__item-list__book__feature__best">
					Бестселлер
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__stock">
					1+1=3
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__new">
					Новинка
				</a>
				</div>
				<figcaption class ="new-arrivals__item-list__book__subscription">
					<p class ="new-arrivals__item-list__book__subscription__tag">
					Корпоративное право
					</p>
					<p class ="new-arrivals__item-list__book__subscription__name">
					Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="new-arrivals__item-list__book__subscription__author">
					Майфат А.В.
					</p>
					<p class ="new-arrivals__item-list__book__subscription__price">
					<font class = "new-arrivals__item-list__book__subscription__price_red">984 ₽ <sub>1 284 ₽ </sub><sub>Выгода 300 ₽</sub></font>
					</p>
					<div class="new-arrivals__item-list__book__subscription__faeture">
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__appraisal">
					{% include "../../assets/svg/star.svg" %}
					4.9
					</a>
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__recommendation">
					{% include "../../assets/svg/like.svg" %}
						89% рекомендуют
					</a>
					</div>
				</figcaption>
				<form action="" class="new-arrivals__item-list__book__buy">
					<button class ="new-arrivals__item-list__book__buy__to-basket">{% include "../../assets/svg/basket-orange.svg" %}В корзину</button>
					<button class ="new-arrivals__item-list__book__buy__favorites">{% include "../../assets/svg/bookmark.svg" %}</button>
				</form>
			</figure>
			<figure class="new-arrivals__item-list__book">
				<img src="img/book.png" alt="" class="new-arrivals__item-list__book__picture">
				<div class="new-arrivals__item-list__book__feature">
				<a href="#" class="new-arrivals__item-list__book__feature__best">
					Бестселлер
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__stock">
					1+1=3
				</a>
				<a href="#" class="new-arrivals__item-list__book__feature__new">
					Новинка
				</a>
				</div>
				<figcaption class ="new-arrivals__item-list__book__subscription">
					<p class ="new-arrivals__item-list__book__subscription__tag">
					Корпоративное право
					</p>
					<p class ="new-arrivals__item-list__book__subscription__name">
					Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="new-arrivals__item-list__book__subscription__author">
					Майфат А.В.
					</p>
					<p class ="new-arrivals__item-list__book__subscription__price">
					4 450 ₽
					</p>
					<div class="new-arrivals__item-list__book__subscription__faeture">
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__appraisal">
					{% include "../../assets/svg/star.svg" %}
					4.9
					</a>
					<a href="#" class="new-arrivals__item-list__book__subscription__faeture__recommendation">
					{% include "../../assets/svg/like.svg" %}
						89% рекомендуют
					</a>
					</div>
				</figcaption>
				<form action="" class="new-arrivals__item-list__book__buy">
					<button class ="new-arrivals__item-list__book__buy__to-basket">{% include "../../assets/svg/basket-orange.svg" %}В корзину</button>
					<button class ="new-arrivals__item-list__book__buy__favorites">{% include "../../assets/svg/bookmark.svg" %}</button>
				</form>
			</figure>
		</ul>	
		<a class="new-arrivals__item-bottom" href="#">
				Показать все книги
		</a>
	</div>
</div>