<div class="news">
	<div class="container-index">
		<div class="news__item-top">
			<h1 class ="news__item-top__title">
			Новости
			</h1>
			<form action="" class="news__item-top__buttons">
				<button class = "news__item-top__buttons__button_left">
					{% include "../../assets/svg/arrow2.svg" %}
				</button>
				<button class = "news__item-top__buttons__button_right">
					{% include "../../assets/svg/arrow1.svg" %}
				</button>
			</form>
		</div>	
		<ul class="news__item-list">
			<figure class="news__item-list__item">
				<img src="img/news_1.png" alt="" class="news__item-list__item__picture">
				<figcaption class ="news__item-list__item__subscription">
					<p class ="news__item-list__item__subscription__date">
						16 июня 2020
					</p>
					<p class ="news__item-list__item__subscription__title">
						Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
					</p>
					<p class ="news__item-list__item__subscription__lead">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
					</p>
				</figcaption>
				<form action="" class="news__item-list__item__read">	
					<button class ="news__item-list__item__read__button">
						Читать
					</button>
				</form>
			</figure>
			<figure class="news__item-list__item">
				<img src="img/news_2png.png" alt="" class="news__item-list__item__picture">
				<figcaption class ="news__item-list__item__subscription">
					<p class ="news__item-list__item__subscription__date">
						16 июня 2020
					</p>
					<p class ="news__item-list__item__subscription__title">
						Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
					</p>
					<p class ="news__item-list__item__subscription__lead">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
					</p>
				</figcaption>
				<form action="" class="news__item-list__item__read">
					<button class ="news__item-list__item__read__button">
						Читать
					</button>
				</form>
			</figure>
			<figure class="news__item-list__item">
				<img src="img/news_3.png" alt="" class="news__item-list__item__picture">
				<figcaption class ="news__item-list__item__subscription">
					<p class ="news__item-list__item__subscription__date">
						16 июня 2020
					</p>
					<p class ="news__item-list__item__subscription__title">
						Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
					</p>
					<p class ="news__item-list__item__subscription__lead">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
					</p>
				</figcaption>
				<form action="" class="news__item-list__item__read">
					<button class ="news__item-list__item__read__button">
						Читать
					</button>
				</form>
			</figure>
		</ul>	
		<a href ="#" class="news__item-bottom">
				Показать все новости
		</a>
	</div>
</div>