<div class="news container">
	<div class="news__item_top">
		<h1 class ="news__title">
		Новости
		</h1>
		<div action="" class="news__buttons">
			<button class = "news__button_left">
				{% include "../../assets/svg/arrow-left.svg" %}
			</button>
			<button class = "news__button_right">
				{% include "../../assets/svg/arrow-right.svg" %}
			</button>
		</div>
	</div>
	<ul class="news__item_list">
		<figure class="news__item">
			<img src="img/news_1.png" alt="" class="news__picture">
			<figcaption class ="news__subscription">
				<p class ="news__date">
					16 июня 2020
				</p>
				<p class ="news__title">
					Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</p>
				<p class ="news__lead">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>
			</figcaption>
			<div class="news__read">
				<button class ="news__button">
					Читать
				</button>
			</div>
		</figure>
		<figure class="news__item">
			<img src="img/news_2png.png" alt="" class="news__picture">
			<figcaption class ="news__subscription">
				<p class ="news__date">
					16 июня 2020
				</p>
				<p class ="news__title">
					Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</p>
				<p class ="news__lead">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>
			</figcaption>
			<div class="news__read">
				<button class ="news__button">
					Читать
				</button>
			</div>
		</figure>
		<figure class="news__item">
			<img src="img/news_3.png" alt="" class="news__picture">
			<figcaption class ="news__subscription">
				<p class ="news__date">
					16 июня 2020
				</p>
				<p class ="news__title">
					Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</p>
				<p class ="news__lead">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>
			</figcaption>
			<div class="news__read">
				<button class ="news__button">
					Читать
				</button>
			</div>
		</figure>
	</ul>
	<a href ="#" class="news__item_bottom">
			Показать все новости
	</a>
</div>