<div class="banners container">
	<div class="banners__gallery">
		<a href="#" class="banners__photo">
			<img src="img/gallery-photo.png" alt="2=3">
		</a>
		<a href="#" class="banners__button">
			{% include "../../assets/svg/arrow-left.svg" %}
		</a>
		<a href="#" class="banners__button">
			{% include "../../assets/svg/arrow-right.svg" %}
		</a>
		<div class="banners__sites">
			<a href="#" class="banners__site_active">
			</a>
			<a href="#" class="banners__site">
			</a>
			<a href="#" class="banners__site">
			</a>
			<a href="#" class="banners__site">
			</a>
		</div>
	</div>
	<figure class ="banners__book_of_the_day">
		<h3 class ="banners__title">
		Книга дня
		</h3>
		<p class ="banners__timer">
		08:56:31
		</p>
		<img src="img/book.png" class ="banners__picture">
		<figcaption class ="banners__subscription">
			<p class ="banners__tag">
				Корпоративное право
			</p>
			<p class ="banners__name">
				Инвестирование: способы, риски, субъекты : монография
			</p>
			<p class ="banners__author">
				Майфат А.В.
			</p>
			<p class ="banners__price">
				4 450 ₽
			</p>
		</figcaption>
		<div action="" class="banners__buy">
			<button class ="banners__to_basket">
				{% include "../../assets/svg/basket-orange.svg" %}
				В корзину
			</button>
			<button class ="banners__favorites">
				{% include "../../assets/svg/bookmark.svg" %}
			</button>
		</div>
	</figure>
	<a href="#" class="banners__banner">
		{% include "../../assets/svg/banner_line_one.svg" %}
		{% include "../../assets/svg/banner_text_one.svg" %}
		{% include "../../assets/svg/banner_one.svg" %}
	</a>
	<a href="#" class="banners__banner">
		{% include "../../assets/svg/banner_line_two.svg" %}
		{% include "../../assets/svg/banner_text_two.svg" %}
		{% include "../../assets/svg/banner_two.svg" %}
	</a>
</div>