<div class="banners container">
	<div class="banners__gallery _photo">
		<ul href="#" class="banners__photo _gallery_slider">
			<li><img src="img/gallery-photo.png" alt="2=3"></li>
			<li><img src="img/gallery-photo.png" alt="2=3"></li>
			<li><img src="img/gallery-photo.png" alt="2=3"></li>
			<li><img src="img/gallery-photo.png" alt="2=3"></li>
		</ul>
		<div class="banners__gallery__control _gallery_control">
		<button href="#" class="banners__button _button _button_left" data-route = "left" onclick ="o2.slider.button_click(this)"  disabled="disabled" style ="fill:#2A3D48; fill-opacity: 0.5" >
			{% include "../../assets/svg/arrow-left.svg" %}
		</button>
		<button href="#" class="banners__button _button" data-route = "right" onclick ="o2.slider.button_click(this)">
			{% include "../../assets/svg/arrow-right.svg" %}
		</button>
		</div>
		<div class="banners__sites">
			<div href="#" class="banners__site _site _site_1" data-num = '1' onclick ="o2.slider.site_click(this)" style ="opacity: 1;">
			</div>
			<div href="#" class="banners__site _site _site_2" data-num = '2' onclick ="o2.slider.site_click(this)">
			</div>
			<div href="#" class="banners__site _site _site_3" data-num = '3' onclick ="o2.slider.site_click(this)">
			</div>
			<div href="#" class="banners__site _site _site_4" data-num = '4' onclick ="o2.slider.site_click(this)">
			</div>
		</div>
	</div>
	<figure class ="banners__book_of_the_day">
		<h3 class ="banners__title">
		Книга дня
		</h3>
		<p class ="banners__timer">
		08:56:31
		</p>
		<img src="img/book.png" class ="banners__picture">
		<figcaption class ="banners__subscription">
			<p class ="banners__tag">
				Корпоративное право
			</p>
			<p class ="banners__name">
				Инвестирование: способы, риски, субъекты : монография
			</p>
			<p class ="banners__author">
				Майфат А.В.
			</p>
			<p class ="banners__price">
				4 450 ₽
			</p>
		</figcaption>
		<div action="" class="banners__buy">
			<button class ="banners__to_basket">
				{% include "../../assets/svg/basket-orange.svg" %}
				В корзину
			</button>
			<button class ="banners__favorites">
				{% include "../../assets/svg/bookmark.svg" %}
			</button>
		</div>
	</figure>
	<a href="#" class="banners__banner">
		{% include "../../assets/svg/banner_line_one.svg" %}
		{% include "../../assets/svg/banner_text_one.svg" %}
		{% include "../../assets/svg/banner_one.svg" %}
	</a>
	<a href="#" class="banners__banner">
		{% include "../../assets/svg/banner_line_two.svg" %}
		{% include "../../assets/svg/banner_text_two.svg" %}
		{% include "../../assets/svg/banner_two.svg" %}
	</a>
</div>