<div class="container_index">
	<div class="banners">
		<div class="banners__gallery">
			<a href="#" class="banners__gallery__item__photo"> 
				{% include "../../assets/svg/2=3.svg" %}
			</a>
			<a href="#" class="banners__gallery__item__button">
				{% include "../../assets/svg/arrow2.svg" %}
			</a>
			<a href="#" class="banners__gallery__item__button">
				{% include "../../assets/svg/arrow1.svg" %}
			</a>
			<div class="banners__gallery__item__sites">
				<a href="#" class="banners__gallery__item__sites__site_active">
				</a>
				<a href="#" class="banners__gallery__item__sites__site">
					
				</a>
				<a href="#" class="banners__gallery__item__sites__site">
					
				</a>
				<a href="#" class="banners__gallery__item__sites__site">
					
				</a>
			</div>
		</div>
		<figure class ="banners__book_of_the_day">
			<h3 class ="banners__book_of_the_day__title">
			Книга дня
			</h3>
			<p class ="banners__book_of_the_day__timer">
			08:56:31
			</p>
			<img src="img/book.png" class ="banners__book_of_the_day__picture">
			<figcaption class ="banners__book_of_the_day__subscription">
				<p class ="banners__book_of_the_day__subscription__tag">
				Корпоративное право
				</p>
				<p class ="banners__book_of_the_day__subscription__name">
				Инвестирование: способы, риски, субъекты : монография
				</p>
				<p class ="banners__book_of_the_day__subscription__author">
				Майфат А.В.
				</p>
				<p class ="banners__book_of_the_day__subscription__price">
				4 450 ₽
				</p>
			</figcaption>
			<form action="" class="banners__book_of_the_day__buy">
				<button class ="banners__book_of_the_day__buy__to_basket">
				{% include "../../assets/svg/basket-orange.svg" %}
				В корзину
				</button>
				<button class ="banners__book_of_the_day__buy__favorites">
				{% include "../../assets/svg/bookmark.svg" %}
				</button>
			</form>
		</figure>
		<a href="#" class="banners__banner">
		<img src="img/banner2.png" alt="">
		</a>
		<a href="#" class="banners__banner">
		<img src="img/banner1.png" alt="">
		</a>
	</div>
</div>