.container
{
	max-width: 1160px ;
	min-width: 355px;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0;
}
.container_index
{
	max-width: 1160px;
	min-width: 355px;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 20px;
}