@font-face
{
	font-family: 'Roboto';
	src:url('./fonts/Roboto/Light/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src: url('./fonts/Roboto/Bold/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src:url('./fonts/Roboto/Thin/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src: url('./fonts/Roboto/Medium/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src:url('./fonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}