<div class="container_index">
	<div class="quality">
		<a href="#" class ="quality__item">
			<img src="img/time.png" alt="">
			<h2>
				Быстрая доставка
			</h2>  
			<p>
				Доставим бесплатно  от 2000 ₽ по всей России
			</p>
		</a>
		<a href="#" class ="quality__item">
			<img src="img/card.png" alt="card">
			<h2>
				Безопастная оплата
			</h2>
			<p>
				Плати безопасно и легко онлайн на нашем сайте.
			</p>
		</a>
		<a href="#" class ="quality__item">
			<img src="img/star.png" alt="">
			<h2>
				Бонусная программа
			</h2>
			<p>
				Дополнительная скидка 15% при регистрации
			</p>
		</a>
		<a href="#" class ="quality__item">
			<img src="img/bag.png" alt="">
			<h2>
				Большой выбор
			</h2>
			<p>
				Ежегодно выходит в свет более 100 книг
			</p>
		</a>
	</div>
</div>