<div class="container_index">
	<div action="" class="mailing">
		<h2 class ="mailing__title">
			Скидка
			<font class ="mailing__title__two-hundred">
				{% include "../../assets/svg/200bg.svg" %}
				200 ₽
			</font>
			при подписке на рассылку Издательства
		</h2>
		<input type="text" class ="mailing__input" placeholder="Введите ваш Email">
		<button class ="mailing__button">
			Подписаться
		</button>
	</div>
</div>