<div class="soon_arrivals container">
		<div class="soon_arrivals__item_top">
			<h1 class ="soon_arrivals__title">
				Готовятся к выходу
			</h1>
			<div action="" class="soon_arrivals__buttons">
				<button class = "soon_arrivals__button_left">
					{% include "../../assets/svg/arrow-left.svg" %}
				</button>
				<button class = "soon_arrivals__button_right">
					{% include "../../assets/svg/arrow-right.svg" %}
				</button>
			</div>
		</div>
		<ul class="soon_arrivals__item_list">
			<figure class="soon_arrivals__book">
				<img src="img/book.png" alt="" class="soon_arrivals__picture">
				<div class="soon_arrivals__feature">
					<a href="#" class="soon_arrivals__best">
						Бестселлер
					</a>
					<a href="#" class="soon_arrivals__stock">
						1+1=3
					</a>
					<a href="#" class="soon_arrivals__new">
						Новинка
					</a>
				</div>
				<figcaption class ="soon_arrivals__subscription">
					<p class ="soon_arrivals__tag">
						Корпоративное право
					</p>
					<p class ="soon_arrivals__name">
						Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="soon_arrivals__author">
						Майфат А.В.
					</p>
					<p class ="soon_arrivals__price">
						4 450 ₽
					</p>
					<div class="soon_arrivals__faeture">
						<a href="#" class="soon_arrivals__appraisal">
							{% include "../../assets/svg/star.svg" %}
							4.9
						</a>
						<a href="#" class="soon_arrivals__recommendation">
							{% include "../../assets/svg/like.svg" %}
							89% рекомендуют
						</a>
					</div>
				</figcaption>
				<div action="" class="soon_arrivals__buy">
					<button class ="soon_arrivals__to_basket">
						{% include "../../assets/svg/basket-orange.svg" %}
						В корзину
					</button>
					<button class ="soon_arrivals__favorites">
						{% include "../../assets/svg/bookmark.svg" %}
					</button>
				</div>
			</figure>
			<figure class="soon_arrivals__book">
				<img src="img/book.png" alt="" class="soon_arrivals__picture">
				<div class="soon_arrivals__feature">
					<a href="#" class="soon_arrivals__best">
						Бестселлер
					</a>
					<a href="#" class="soon_arrivals__stock">
						1+1=3
					</a>
					<a href="#" class="soon_arrivals__new">
						Новинка
					</a>
				</div>
				<figcaption class ="soon_arrivals__subscription">
					<p class ="soon_arrivals__tag">
						Корпоративное право
					</p>
					<p class ="soon_arrivals__name">
						Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="soon_arrivals__author">
						Майфат А.В.
					</p>
					<p class ="soon_arrivals__price">
						4 450 ₽
					</p>
					<div class="soon_arrivals__faeture">
						<a href="#" class="soon_arrivals__appraisal">
							{% include "../../assets/svg/star.svg" %}
							4.9
						</a>
						<a href="#" class="soon_arrivals__recommendation">
							{% include "../../assets/svg/like.svg" %}
							89% рекомендуют
						</a>
					</div>
				</figcaption>
				<div action="" class="soon_arrivals__buy">
					<button class ="soon_arrivals__to_basket">
						{% include "../../assets/svg/basket-orange.svg" %}
						В корзину
					</button>
					<button class ="soon_arrivals__favorites">
						{% include "../../assets/svg/bookmark.svg" %}
					</button>
				</div>
			</figure>
			<figure class="soon_arrivals__book">
				<img src="img/book.png" alt="" class="soon_arrivals__picture">
				<div class="soon_arrivals__feature">
					<a href="#" class="soon_arrivals__best">
						Бестселлер
					</a>
					<a href="#" class="soon_arrivals__stock">
						1+1=3
					</a>
					<a href="#" class="soon_arrivals__new">
						Новинка
					</a>
				</div>
				<figcaption class ="soon_arrivals__subscription">
					<p class ="soon_arrivals__tag">
						Корпоративное право
					</p>
					<p class ="soon_arrivals__name">
						Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="soon_arrivals__author">
						Майфат А.В.
					</p>
					<p class ="soon_arrivals__price">
						<font class = "soon_arrivals__price_red">
							984 ₽
							<sub>
								1 284 ₽
							</sub>
							<sub>
								Выгода 300 ₽
							</sub>
						</font>
					</p>
					<div class="soon_arrivals__faeture">
						<a href="#" class="soon_arrivals__appraisal">
						{% include "../../assets/svg/star.svg" %}
						4.9
					</a>
					<a href="#" class="soon_arrivals__recommendation">
						{% include "../../assets/svg/like.svg" %}
						89% рекомендуют
					</a>
					</div>
				</figcaption>
				<div action="" class="soon_arrivals__buy">
					<button class ="soon_arrivals__to_basket">
						{% include "../../assets/svg/basket-orange.svg" %}
						В корзину
					</button>
					<button class ="soon_arrivals__favorites">
						{% include "../../assets/svg/bookmark.svg" %}
					</button>
				</div>
			</figure>
			<figure class="soon_arrivals__book">
				<img src="img/book.png" alt="" class="soon_arrivals__picture">
				<div class="soon_arrivals__feature">
					<a href="#" class="soon_arrivals__best">
						Бестселлер
					</a>
					<a href="#" class="soon_arrivals__stock">
						1+1=3
					</a>
					<a href="#" class="soon_arrivals__new">
						Новинка
					</a>
				</div>
				<figcaption class ="soon_arrivals__subscription">
					<p class ="soon_arrivals__tag">
						Корпоративное право
					</p>
					<p class ="soon_arrivals__name">
						Инвестирование: способы, риски, субъекты : моногра...
					</p>
					<p class ="soon_arrivals__author">
						Майфат А.В.
					</p>
					<p class ="soon_arrivals__price">
						4 450 ₽
					</p>
					<div class="soon_arrivals__faeture">
						<a href="#" class="soon_arrivals__appraisal">
							{% include "../../assets/svg/star.svg" %}
							4.9
						</a>
						<a href="#" class="soon_arrivals__recommendation">
							{% include "../../assets/svg/like.svg" %}
							89% рекомендуют
						</a>
					</div>
				</figcaption>
				<div action="" class="soon_arrivals__buy">
					<button class ="soon_arrivals__to_basket">
						{% include "../../assets/svg/basket-orange.svg" %}
						В корзину
					</button>
					<button class ="soon_arrivals__favorites">
						{% include "../../assets/svg/bookmark.svg" %}
					</button>
				</div>
			</figure>
		</ul>
		<a class="soon_arrivals__item_bottom" href="#">
				Показать все книги
		</a>
</div>