.header
{
	height: 71px;
	border-bottom: 1px solid #ECECEC;
	background: #fff;
}
.header__items_top
{
	display: none;
	border-bottom: 1px solid #ECECEC;
}
.header__items_center
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 355px;
	height:71px;
	&__item
	{
		display: flex;
		margin: 0 10px;
	}
	.header__logo
	{
		height:35px;
	}
	&__item_list a
	{
		display: none;
	}
	&__item_list a:last-child
	{
		display: block;
		font-size: 0px;
		position:relative;
		.header__basket__notifi
		{
			display: block;
			height: 20px;
			width: 20px;
			position: absolute;
			text-align:center;
			vertical-align: center;
			text-align: center;
			color:white;
			font-size: 12px;
			background: #FF7A00;
			border-radius: 50%;
			transform: translate(13px, -32px);
			font-family: roboto;
			font-weight: 500;
		}
	}
	.header__burger
	{
		display: block;
		margin:0 4px 0 10px;
		height:20px;
	}
	.header__logo
	{
		margin:0 10px 0 10px;
	}
}
.header__search
{
	display: flex;
	max-width: 195px;
	width: 100%;
	margin-left:11px;
	margin-right:18px;
	.header__place
	{
		width: 100%;
		border:none;
		background: #f7f7f7;
		height:40px;
		border-radius: 5px;
		font-size:14px;
		padding-left:15px;
		font-famaly:roboto;
	}
	.header__button
	{
		width: 0;
		height: 0;
		font-size: 0px;
		border:none;
		overflow: visible;
		position: relative;
		left:-33px;
		top:11px;
		margin:0;
		svg
		{
			fill:#1C294D;
		}
	}
}
.header__menu
{
	display: none;
}
@media(min-width: 761px)
{
	.header
	{
		height: 171px;
		border-bottom: none;
	}
	.header__items_top
	{
		display: flex;
		border-bottom:1px solid #DFE0E1;
		height:50px;
		width: 100%;
		font-family: roboto;
		justify-content: flex-start;
		align-items: center;
		max-width: 1140px;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 2px;
		padding-left: 2px;
		&__item
		{
			display: flex;
			align-items: center;
			margin: 0px 26px 0px 2px;
			letter-spacing: 0;
			color: rgba(28,41,77,0.8);
			svg
			{
				margin: 0px 8px 0px 0px;
			}
		}
		&__item:nth-child(2)
		{
			margin-left: 6px;
			svg
			{
				margin-right:6px;
				display: inline;
			}

		}

		&__item:nth-child(3)
		{
			margin-left: 4px;
		}
		.header__left
		{
			display: flex;
			justify-content: flex-end;
			margin-left:auto;
			color: #1C294D;

			font-weight: 500;
		}
		.header__left &__item
		{
			margin-right:0;
			margin-left:5px;
		}
		.header__left &__item:first-child
		{
			margin-right:30px;
		}
		.header__left &__item:last-child
		{
			font-size: 0;
			height: 20px;
			width: 20px;
			svg
			{
				margin-right:1px;
			}
		}
	}
	.header__items_center
	{
		justify-content: flex-start;
		display: flex;
		align-items: center;
		max-width: 1140px;
		padding: 0;
		height: 80px;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 0;
		padding-left: 0;
		color: #1C294D;

		&__item
		{
			display: flex;
			margin: 0 10px;
			padding: 0;
			padding-top: 10px;
		}
		&__item_list
		{
			display: flex;
			margin-left: auto;
		}
		&__item_list a
		{
			display: flex;
			align-items: flex-end;
			color:#1C294D;
			margin-right:30px;
			height: 18px;
			font-family: roboto;
			svg
			{
				margin-right:5px;
			}
		}
		&__item_list a:first-child
		{
			margin-right:30px;
			svg
			{
				margin-right:10px;
			}
		}
		&__item_list a:last-child
		{
			white-space:nowrap;
			font-size:14px;
			margin-right: 0;
			svg
			{
				width: 17px;
				height: 15px;
				position:relative;
				top:2px;
				left:2px;
			}
			.header__basket__notifi
			{
				height: 15px;
				width: 15px;
				font-size: 9px;
				top:25px;
				left:-1px;
			}
		}
		.header__burger
		{
			display: none;
		}
	}

	.header__search
	{
		margin-left:30px;
		max-width: 573px;
		width: 100%;
		margin-bottom:10px;
		.header__place
		{
			border:1px solid #DFE0E1;
			border-right:none;
			max-width: 573px;
			width: 80%;
			background: #ffff;
			height:40px;
			border-radius: 5px 0 0 5px;
			letter-spacing: 0px;
			font-size:14px;
			padding-left:15px;
		}
		.header__button
		{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 125px;
			height: 40px;
			font-size: 14px;
			border: none;
			background: #FF7A00;
			overflow: visible;
			position: static;
			color:white;
			border-radius: 0 5px 5px 0;
			margin:0;
			svg
			{
				font-style:Bold;
				margin-right:9px;
				fill:#fff;

			}
			path
			{
				fill:#fff;
				fill-opacity:1;
			}
		}
	}

	.header__logo
	{
		position: static;
		margin:0;
		margin-bottom:10px;
		img
		{
			position: static;
			width: 50px;
			height: 40px;
			margin: 0;
		}
	}
	.header__menu
	{
		font-size: 14px;
		display:flex;
		align-items: flex-start;
		justify-content: flex-start;
		max-width: 1140px;
		padding:0;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		a
		{
			display: flex;
			align-items: flex-start;
			color:#1C294D;
			margin-right:26px;
			margin-left:0;
			margin-top:0;
			font-family: roboto;
			svg
			{
				margin-right:5px;
			}
			&:nth-child(4)
			{
				color:#FF283D;
				margin-right:24px;
			}
		}
	}
}

@media(min-width: 425px) and (max-width: 760px)
{
	.header
	{
		height: 70px;
	}
	.header__items_top
	{
		display: none;
	}
	.header__items_center
	{
		max-width: none;
		.header__search
		{
			max-width: 520px;
			width: 100%;
		}
		&__item_list
		{
			display: flex;
			margin-left: 0;
		}
		&__item_list a
		{
			display: flex;
			align-items: flex-end;
			color:#1C294D;
			margin-right:5px;
			height: 18px;
			font-family: roboto;
			font-size:0;
			svg
			{
				margin-right:5px;
			}
		}
		&__item_list a:first-child
		{
			margin-right:5px;
			svg
			{
				margin-right:10px;
			}
		}
		&__item_list a:last-child
		{
			white-space:nowrap;
			font-size:0;
			margin-right: 0;
			svg
			{
				width: 17px;
				height: 15px;
				position:relative;
				top:2px;
				left:2px;
			}
			.header__basket__notifi
			{
				height: 15px;
				width: 15px;
				font-size: 9px;
				top:25px;
				left:-1px;
			}
		}
	}

	.header__menu
	{
		display: none;
	}
	.header__burger
	{
		display: block;
	}
}
